header {
  margin-bottom: 40px;
  text-align: center;
}

.main_title {
  padding: 10px 0px;
  font-size: 40px;
}

.description {
  font-size: 18px;
  padding: 20px 0px;
}

.projects_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_title {
  font-size: 25px;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 20px;
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  gap: 30px 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 70vw;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: 100%;
  background-color: #e9e9e9;
}

.img_container {
  border-radius: 10px 10px 0px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  margin-top: 5px;
  padding: 0px 5px;
}

img {
  min-width: 350px;
  max-width: 100%;
  object-fit: cover;
}

.sub_container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project_title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #333;
}

.detail_btn {
  font-size: 16px;
  width: 150px;
  color: #ececec;
  background-color: #666;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}
